html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */